{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "^~/styles": "./main.css",
          "^~/components/(.+)": "./src/components/\\1.component.js",
          "^~/stylesheets/(.+)": "./src/stylesheets/\\1.stylesheet.css"
        }
      }
    ]
  ]
}
