:root {
  --shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  --space: 1px;
}

* {
  margin: 0;
  padding: 0;
  height: 30px;
  width: fit-content;
  height: fit-content;
  border: none;
  box-sizing: border-box;
  color: var(--foreground);
  font-size: 15px;
}

.spreadsheet {
  background-color: var(--facebook-background);
  padding: 10px;
  box-shadow: var(--shadow);
}

.container {
  display: flex;
  flex-direction: column;
  padding: var(--space);
  cursor: pointer;
}

.nodes {
  display: flex;
  width: auto;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: var(--space);
  box-sizing: border-box;
  padding: 31px 0px;
}

.node {
  background: var(--background);
  width: fit-content;
  padding: 2px 7px;
  margin-right: 5px;
  letter-spacing: 2px;
}

.rows {
  display: flex;
  flex-direction: row;
}

.columns {
  width: 87px;
  height: 19pt;
  margin: var(--space);
  border: 1px solid var(--border-color);
}

.focus {
  border: 1px solid var(--facebook);
  border-width: 2px;
}
